@import "../../../../colors";

.strength-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.section {
  width: 30%;
  height: 8px;
  border-radius: 20px;
  &.gray {
    background-color: $gray-color;
  }
  &.red {
    background-color: $red-color;
  }
  &.yellow {
    background-color: $yellow-color;
  }
  &.green {
    background-color: $green-color;
  }
}
