@import "../../../../colors";

.message-red {
  color: $red-color; // Customize this color as needed
}

.message-yellow {
  color: $yellow-color; // Customize this color as needed
}

.message-green {
  color: $green-color; // Customize this color as needed
}
