<div class="password-container">
  <form [formGroup]="passwordForm" >
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="passwordVisible ? 'text' : 'password'"
        formControlName="password"
        placeholder="Enter your password"
      />
      <button mat-icon-button type="button" matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="!passwordVisible">
        <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <app-password-strength-bar [strength]="strength"></app-password-strength-bar>
    <app-password-strength-message [strength]="strength"></app-password-strength-message>

    <div *ngIf="passwordForm.valid">
      Form is valid
    </div>
  </form>
</div>
